body { 
    margin: 0; 
    font-family: arial;
}

#all {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 10px 10px -2px rgba(0,0,0,0.3);
    border-image: linear-gradient(.45turn, rgba(255,255,255,0.2),
    rgba(0,0,0,0.9))
    fill 1;
}

#heroImage {
    max-width: 100vw;
    object-fit: cover;
    position: relative;
    z-index: -1;
    min-height: 75vh;
    background-repeat: no-repeat;
}

h1 {
    margin: 10%;
    color: white;
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    text-shadow: 6px 10px 10px rgba(0,0,0,0.8);
    position: absolute;
    opacity: 0.75;
}

#belowHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin: 20px 10px 0;
}

#leftSection {
    width: 415px;
}

#rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 415px;
}

#incidentContainer {
    position: relative;
}

h3 {
    display: inline-block;
    margin: 15px 0 -2px 0;
    font-weight: 600;
    font-size: 1.3rem;
}

input {
    font-size: 0.9rem;
}

select {
    font-size: 0.9rem;
}

.incidentTitle {
    margin-bottom: 8px;
}

.incDriverRows {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 2px;
    flex-wrap: wrap;
}

.incCollapseBtnAll {
    aspect-ratio: 1/1;
    display: inline-block;
    transition: 350ms;
    background-color: rgba(0,0,0,0);
    border: none;
    transform: rotate(0);
}

#incidentContainer {
    max-width: 415px;
}

#incAddRemoveButtons {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    margin-top: 3px;
}

.collapsed {
    transform: rotate(90deg);
}

.reasoning {
    width: 405px;
    font-size: 0.9rem;
}

textarea {
   font-family: inherit;
   resize: vertical; 
   font-size: 0.8rem;
}

#output {
    font-size: 0.9rem;
    width: 405px;
}

.bottomButtons {
    margin-bottom: 40px;
}

#copyButton {
    background-color: #0f960f;
    border: none;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    width: 400px;
    padding: 6px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    text-decoration: none;
    display: none;
    box-shadow: 6px 10px 10px -2px rgba(0,0,0,0.3);
}

#copyButton:hover {
    background-color: #0b6e0b;
}

#copyButton:active {
    transform: scale(0.90);
}

.incButtons {
    padding: 0 20px;
    box-shadow: 6px 10px 10px -2px rgba(0,0,0,0.3);
    cursor: pointer;
    border-radius: 3px;
    border: 2px solid #07A3C8;
    background-color: white;
    height: 28px;
    font-size: 0.9rem;
}

.incButtons:active {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
        
.incButtons:hover {
    background-position: left bottom;
    background-color: #07A3C8;
    border: 2px solid #07A3C8;
    color: white;
}

.incButtons:hover {
    background-position: left bottom;
    background-color: #07A3C8;
    border: 2px solid #07A3C8;
}

#collapseAll {
    position: absolute;
    padding: 0 10px;
    height: 26px;
    margin: 14px 0 0 6px;
}

.driversBtn {
    padding: 0;
    width: 36px;
    height: 24px;
    font-size: 1rem;
}

.otherDeets {
    margin-left: 62px;
}

#footer{
    height: 500px;
    width: 100%;
}


